.DS_Store
*/.DS_Store
*/*/.DS_Store
*/__pycache__/
__init__.py
*/migrations/
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
media/
