{% extends "homepage_generic.html" %}

{% load static %}

{% block navbar %}
    <nav id="nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>
                <a href="#">About</a>
                <ul>
                    <li><a href="{% url 'ZYChapterHistory' %}">ZY Chapter History</a></li>
                    <li><a href="{% url 'NationalsHistory' %}">Nationals History</a></li>
                    <li><a href="{% url 'CurrentLeadership' %}">Current Leadership</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                </ul>
            </li>
            <li>
                <a href="#">News & Events</a>
                <ul>
                    <li><a href="#">Newsletters</a></li>
                    <li><a href="#">Recent Events</a></li>
                    <li><a href="#">Rush</a></li>
                </ul>
            </li>
            <li><a href="{% url 'AlumniUpdate' %}">Alumni</a></li>
            <li class="current"><a href="{% url 'SupportPage' %}">Support</a></li>
            <li><a href="{% url 'ContactPage' %}">Contact</a></li>
            <li><a href="{% url 'portal' %}">Brothers Portal</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Contact content -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <h2>Donations and Support</h2> </br>
            <div class="row">
                <div class="6u 12u(medium)">
                    <div>
                        <h3> For Donations to the Chapter: </h3>

                        <strong> Alumni Director </strong> </br>
                        Josh Davis </br>
                        sjd7wh@virginia.edu </br>
                    </div>
                </div>
                <div>
                    Donations of all types are highly appreciated as we build up our chapter of
                    Alpha Sigma Phi at the University of Virginia.  Monetary donations will be put
                    towards our housing fund by default, however, we will happily make arrangements to put
                    your contributions towards an objective of your choice.  If you would like to donate furniture
                    or your time, please reach out to the alumni director to make arrangements. </br>
                                                                                                </br>
                    From the brothers of the Zeta Upsilon Chapter of Alpha Sigma Phi — thank you for your support!
                </div>
            </div>

        </div>
    </div>
{% endblock %}