{% extends "homepage_generic.html" %}

{% load static %}

{% block navbar %}
    <nav id="nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">
                <a href="#">About</a>
                <ul>
                    <li><a href="{% url 'ZYChapterHistory' %}">ZY Chapter History</a></li>
                    <li><a href="{% url 'NationalsHistory' %}">Nationals History</a></li>
                    <li><a href="{% url 'CurrentLeadership' %}">Current Leadership</a></li>
                    <li><a href="{% url 'photos' %}">Photo Gallery</a></li>
                </ul>
            </li>
            <li>
                <a href="#">News & Events</a>
                <ul>
                    <li><a href="#">Newsletters</a></li>
                    <li><a href="#">Recent Events</a></li>
                    <li><a href="#">Rush</a></li>
                </ul>
            </li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'portal' %}">Brothers Portal</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="main-wrapper">
        <!-- Features -->
        <div id="features-wrapper">
            <div class="container">
                <!-- Row 1 -->
                <div class="row">
                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Ryan Donovan</h2>
                                </header>
                                <p> President </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Mahi Shapally</h2>
                                </header>
                                <p> Vice President </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Sam Mirzai</h2>
                                </header>
                                <p> Recruitment Director </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Row 2 -->
                <div class="row">
                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Danny Thompson</h2>
                                </header>
                                <p> Treasurer </br>
                                    Zeta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Andrew Roberts</h2>
                                </header>
                                <p> Secretary </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Andrew Shaeffer</h2>
                                </header>
                                <p>Membership Education </br>
                                    Eta class
                                </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Row 3 -->
                <div class="row">
                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Josh Davis</h2>
                                </header>
                                <p> Alumni Director </br>
                                    Zeta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Tom Albed</h2>
                                </header>
                                <p> Scholarship Director </br>
                                    Zeta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Saul Pasco</h2>
                                </header>
                                <p> Marshall </br>
                                    Zeta class
                                </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Row 4 -->
                <div class="row">
                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2> Will Southard</h2>
                                </header>
                                <p> Sergeant at Arms </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2> Hank Phillips </h2>
                                </header>
                                <p> New Member Educator </br>
                                    Alpha class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Colin Cavanagh, Ryan Polsky</h2>
                                </header>
                                <p> Co-philanthropy directors </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Row 5 -->
                <div class="row">
                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2> Chris Wenger </h2>
                                </header>
                                <p> Social Director </br>
                                    Zeta class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2> Hank Phillips </h2>
                                </header>
                                <p> New Member Educator </br>
                                    Alpha class
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="4u 12u(medium)">
                        <!-- Box -->
                        <section class="box feature">
                            <a class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Colin Cavanagh, Ryan Polsky</h2>
                                </header>
                                <p> Co-philanthropy directors </br>
                                    Delta class
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}