{% extends "homepage_generic.html" %}

{% load static %}

{% block navbar %}
    <nav id="nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">
                <a href="#">About</a>
                <ul>
                    <li><a href="{% url 'ZYChapterHistory' %}">ZY Chapter History</a></li>
                    <li><a href="{% url 'NationalsHistory' %}">Nationals History</a></li>
                    <li><a href="{% url 'CurrentLeadership' %}">Current Leadership</a></li>
                    <li><a href="{% url 'photos' %}">Photo Gallery</a></li>
                </ul>
            </li>
            <li>
                <a href="#">News & Events</a>
                <ul>
                    <li><a href="#">Newsletters</a></li>
                    <li><a href="#">Recent Events</a></li>
                    <li><a href="#">Rush</a></li>
                </ul>
            </li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="{% url 'ContactPage' %}">Contact</a></li>
            <li><a href="{% url 'portal' %}">Brothers Portal</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row 200%">
                <div class="4u 12u$(medium)">
                    <div id="sidebar">

                        <!-- Sidebar -->
                        <section>
                            <div style="text-align: center">
                                <img src="{% static 'images/alphasigheadericon.png' %}" alt=""/>
                                <footer>
                                    <a href="http://alphasigmaphi.org/" class="button icon fa-info-circle">Find out more</a>
                                </footer>
                            </div>
                        </section>

                    </div>
                </div>
                <div class="8u 12u$(medium) important(medium)">
                    <div id="content">

                        <!-- Content -->
                        <article>

                            <h2>National History</h2>

                            <p> Alpha Sigma Phi is America's 10th Oldest Collegiate Fraternity, founded at
                                Yale University on December 6th, 1845. Alpha Sigma Phi was built upon the
                                principles of silence, charity, purity, honor, and patriotism, striving to
                                be the organization of choice for qualified collegiate men. Alpha Sigma Phi
                                continues to grow in National size, as more chapters charter each year, adding
                                to an already strong foundation. Through the impacts seen on these college
                                campuses, Alpha Sig aims to better the world, through better men.</p>
                            <p> "Alpha Sigma Phi is not interested in only becoming the fraternity of choice,
                                for this perspective unnecessarily narrows our recruitment efforts to those
                                inclined to go Greek. We instead, will be focused on appealing to a broader
                                base of undergraduate men, thereby competing directly with other activities
                                and organizations on today's campuses. By so doing, we help to ensure that
                                we attract and recruit the very best and brightest undergraduate men.
                                We have chosen to define our Fraternity as a co-curricular organization to underscore our desire to partner with the institutions that host our chapters in their endeavor to prepare their students for success after college."

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
